*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(17, 194, 135);
}

i{
    color: rgb(17, 194, 135);

}

.wrapper{
    width: 1040px;
    margin: 0 auto;
}

.statistic {
    display: flex;
    flex-direction: column;
}

.total_case_box {
    margin-top: 2rem;
    padding: 3rem;
    text-align: center;
    border-radius: 15px;
    background: rgb(241, 240, 234);
    box-shadow: 5px 5px 40px rgb(0, 0, 0, 0.3);

}

.box_wrapper{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 1rem;
    text-align: center;
    border-radius: 15px;
    background: rgb(241, 240, 234);
    box-shadow: 5px 5px 40px rgb(0, 0, 0, 0.3);
}

.box {
    border-right: 1px solid #ccc;
}

.box:last-child{
    border:none;
}

.countries_stat{
    width: 100%;
    margin-top: 1rem;
    padding: 1rem;
    text-align: center;
    border-radius: 15px;
    background: rgb(241, 240, 234);
    box-shadow: 5px 5px 40px rgb(0, 0, 0, 0.3);;

}



.customers {

    width: 100%;

    margin-top: 1rem;

    padding: 1rem;

    border-collapse: collapse;

    border-radius: 15px;

    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.3);

}

.customers td,

.customers th {

    border: 1px solid #ddd;

    padding: 8px;

    text-align: center;

}

.customers tr:nth-child(even) {

    background-color: #f2f2f2;

}

.customers th {

    padding-top: 12px;

    padding-bottom: 12px;

    text-align: center;

    background-color: rgb(5, 87, 126);

    color: white;

}
